.frameCL {
    background-color: rgb(223, 223, 223);
    padding: 10px;
    margin: 20px 0 20px 0
}

h1 {
    font-size: 2rem;
    width: 80%;
    margin: 10px 10% 10px 10%;
    padding: 0;
    overflow-wrap: break-word;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 20px;
    color: rgb(218, 0, 0);
    font-weight: 400;
}